* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#title{
    color: white;
   line-height: 1.8;
}
.cal-box {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #0b0b0b;
}
.btn-sets {
    margin-top: 0.6rem;
    max-width: 21rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 0.8rem;
}

.zero {
    grid-column: 1/3 /* Makes "0" button span two columns horizontally */
}

.plus {
    grid-row: 3/5; /* Makes "+" button span two rows vertically */
    grid-column: 4/5;
}

.equal {
    grid-row: 5/6; /* Makes "=" button span two rows vertically */
    grid-column: 4/5;
}

input[type="text"] {
    width: 100%;
    padding: 6px;      
    color: #291d1d;             /* Background color */
    border: 1px solid  #df6a38;
    border-radius: 5px;         /* Rounded corners */
    outline: none;              /* Remove default outline */
    text-align: right; 
    background: rgb(238, 232, 232);
    font-weight: bold;
    color: #000000;
    height: 5rem;
    font-size: 1.5rem
}

input::placeholder {
    color: #000000;
}

/* CSS */


.button {
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #1A202C;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  padding: 0.8rem;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
  background: #0b0b0b;
  color: #FFFFFF;
  box-shadow: 1px 2px 6px rgb(16, 229, 16);
}
